<!doctype html>
<html lang="en">
    <head>
        <title>Auth Demo</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
    </head>
    <body>
        <h1 id='banner'>{% block header %}{% endblock %}</h1>
        <div id="content">
            {% if current_user.is_anonymous %}
            <p class="center"><a href="/login">Login</a> | <a href="/register">Register</a></p>
            {% else %}
            <p class="right"><input type="button" onclick="logout()" value="Logout" /></p>
            {% endif %}
            {% block content %}[content here]{% endblock %}
            <p id="message"></p>
        </div>
        <div id="footer">{% block footer %}Copyright © 2019 Caleb Callaway{% endblock %}</div>
    </body>
</html>