{% extends "base.html" %}
{% block header %}Sign In{% endblock %}
{% block content %}
<form id="registration_form" action="/api/users" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="center">
        <p>{{ form.user_id(size=32, placeholder='user id') }}</p>
        <p>{{ form.name(size=32, placeholder='name') }}</p>
        <p>{{ form.password(size=32, placeholder='password') }}</p>
        <input type="button" onclick="register()" value="Register" />
    </div>
</form>
{% endblock %}